@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap");

:root {
  --main-color: #e8786e;
  --black: #555;
  --light-color: #777;
  --bg: #fceae9;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease-out;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.lower-case {
  text-transform: lowercase;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 4rem;
  color: var(--black);
}

.heading span {
  color: var(--main-color);
  border-radius: 0.5rem;
  background: var(--bg);
  padding: 0 1.5rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  background: var(--main-color);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background: var(--black);
  z-index: -1;
  transition: 0.2s ease-out;
}

.btn:hover::before {
  left: 0;
  width: 100%;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}
.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bolder;
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--light-color);
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: var(--main-color);
}

#menu-btn {
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
  color: var(--main-color);
  background-color: var(--bg);
  display: none;
}

#menu-btn:hover {
  color: #fff;
  background: var(--main-color);
}

.services .box-container .box {
  text-align: center;
  border: var(--border);
  /* box-shadow: var(--box-shadow); */
  border-radius: 0.5rem;
  padding: 4rem 2rem;
  box-shadow: rgba(232, 120, 110, 1) 0px 1px 3px 0px;
}

.services .box-container .box img {
  height: 10rem;
}

.services .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding-top: 1.5rem;
}

.services .box-container .box p {
  color: var(--light-color);
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 1.8;
}

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.review .box-container .box .user {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.review .box-container .box .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.review .box-container .box .user h3 {
  font-size: 2.2rem;
  color: var(--black);
  padding-bottom: 2.2rem;
  margin-top: 3rem;
  margin-left: 2rem;
}

.review .box-container .box .user .stars i {
  font-size: 1.5rem;
  color: var(--main-color);
}

.review .box-container .box .fa-quote-right {
  margin-left: auto;
  font-size: 5rem;
  color: var(--bg);
}

.review .box-container .box p {
  padding-top: 1rem;
  font-size: 1.6rem;
  line-height: 1.8;
  color: var(--light-color);
  font-style: italic;
}
.footer {
  margin-top: 1rem;
  background: var(--bg);
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: var(--black);
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  color: var(--light-color);
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--main-color);
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  color: var(--black);
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  padding-top: 2rem;
  font-size: 2rem;
}

.footer .credit span {
  color: var(--main-color);
}
/*media Queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: initial;
  }
  .header .navbar {
    position: absolute;
    top: 115%;
    right: 2rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 0.5rem;
    width: 30rem;
    transform: scale(0);
    transform-origin: top right;
    opacity: 0;
  }

  .header .navbar.active {
    transform: scale(1);
    opacity: 1;
  }

  .header .navbar a {
    font-size: 2rem;
    display: block;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
  }

  .header .navbar a:hover {
    background: var(--bg);
  }

  .home .content {
    text-align: center;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
